/* Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  gap: 24px;
  margin: 0 auto;
  padding: 20px;
}

.logo-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  margin-bottom: 16px;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #ff8800; /* Primary color */
  letter-spacing: 0.5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
  color: #111;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  color: #555;
}

.input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: #ff8800;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
}

.forgot-password-link {
  font-size: 12px;
  color: #6b7280;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
}

.submit-btn {
  padding: 12px;
  background-color: #ff8800;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-btn:disabled {
  background-color: #d1d5db;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background-color: rgb(173, 114, 47);
}

.google-btn-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
  color: #111;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.google-btn:hover {
  background-color: #f3f4f6;
}

.signup-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.signup-text {
  color: #555;
}

.signup-link {
  color: #ff8800;
  font-weight: 600;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
